services:
  # ---- Backend API (NestJS) ----
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pos-iados-api
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: production
      DB_HOST: 74.208.149.7
      DB_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: U191tl1ebFN2RJR0fld5QhC8U29AhdOQ
      DB_DATABASE: iados_mysql_prod
      JWT_SECRET: iados_jwt_secret_key_production_2024_cambiar
      JWT_EXPIRES_IN: 8h
      FRONTEND_URL: http://localhost
    networks:
      - web_network

  # ---- Frontend CMS (React + Vite + Nginx) ----
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    container_name: pos-iados-web
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - web_network

networks:
  web_network:
    external: true
