# Laravel
/vendor
/node_modules
.env
.env.*
/storage/*.key
/storage/framework/
/storage/logs/
/bootstrap/cache/*.php
/public/storage

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode
*.zip

# ignore windows device file
NUL
current/NUL

